* {
  box-sizing: border-box;
}

/* .food-recipe, .navbar {
  border: 2px solid crimson;
} */

/* .navbar-links {
  display: flex;
  align-items: center;
} */

.navs {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navs li {
  margin-left: 12px;
}

.site-top-bar {
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main-body {
  padding-top: 300px;
}

.left-bar {
  border-left: 1px solid #c9c5c5;
}

.refresh-btn {
  z-index: 100;
}

.about-us {
  padding-right: 0px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.recipe-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#recipe-result {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}