* {
  box-sizing: border-box;
}

/* .food-recipe, .navbar {
  border: 2px solid crimson;
} */

/* .navbar-links {
  display: flex;
  align-items: center;
} */

.navs {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navs li {
  margin-left: 12px;
}

.site-top-bar {
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main-body {
  padding-top: 122px;
}

.left-bar {
  border-left: 1px solid #c9c5c5;
}

.refresh-btn {
  z-index: 100;
}

.about-us {
  padding-right: 0px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.recipe-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#recipe-result {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

footer {
  background-color: #3A527A;
  color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  text-align: center;
}

#random-result {
  justify-content: space-around;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */